<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" style="font-family: 'Lora', 'Times New Roman', serif">
                <p class="copyright text-muted">
                    Copyright {{ site.title }} {{ site.time | date: '%Y' }}
                    <br>
                    Powered by <a style="color:#000000" href="https://wangguangjie.github.io">Guangjie blog</a> |
                    <iframe
                        style="margin-left: 2px; margin-bottom:-5px;"
                        frameborder="0" scrolling="0" width="100px" height="20px"
                        src="https://ghbtns.com/github-btn.html?user=wangguangjie&repo=wangguangjie.github.io&type=star&count=true" >
                    </iframe>
                </p>
            </div>
        </div>
    </div>
</footer>



