---
layout: page
title: Outline
---

<style type="text/css">
	a[href] {
		color: #BFEFFF;
	}
	a[href]:hover {
		color:#EEAD0E; 
	}
</style>
<h1> <style="font-family: 'Lora', 'Times New Roman', serif;"><b>我的博客</b></h1>

<ul style="font-family: 'Lora', 'Times New Roman', serif;">
{% for post in site.posts %}
  <li>
    <i>{{ post.date | date: "%b %d, %Y"  }} &mdash; </i>
    <a href="{{ post.url }}">{% if post.title != "" %}{{ post.title }}{% else %}{{ post.slug }}{% endif %}</a>
  </li>
{% endfor %}
</ul>
