---
layout: default
---


<div class="content{% if page.photo_url %} photo-post{% endif %}" style="border-radius: 25px">
  <div class="post single">

    {% unless page.title_hidden %}
    <h1 style="font-family: American Typewriter"><b> {{ page.title }} </b></h1>

    <info datetime="{{ page.date | date: "%Y-%m-%d" }}" style="font-family: Chalkduster">
      {{ page.date | date: "%b %e, %Y" }}
    </info>

    {% endunless %}

    <div class="body"  style="font-family: American Typewriter">
        {% if page.external_url %}文章发布在 {{ page.external_url }}
        <script>
         document.location.href = "{{ page.external_url }}";
        </script>
        {% else %}{{ content }}{% endif %}
    </div>
    
    <div class="breaker"></div>

  </div>

  <div>
        <div id="container"></div>
        <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
        <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
        <script>
        var gitment = new Gitment({
            owner: 'wangguangjie',
            repo: 'blog-comments',
            oauth: {
                client_id: 'f1deb23583574bc7e298',
                client_secret: 'a427c7f7d750c5350426c59a26f63b1e69228fc1',
            },
        })
        gitment.render(document.getElementById('container'))
        </script>
    </div>
</div>
                     